.elementor-958
  .elementor-element.elementor-element-ef5dcef:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-958
  .elementor-element.elementor-element-ef5dcef
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #000000;
}
.elementor-958
  .elementor-element.elementor-element-ef5dcef
  > .elementor-background-overlay {
  background-color: #1b1f29;
  opacity: 0.92;
  mix-blend-mode: multiply;
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-958 .elementor-element.elementor-element-ef5dcef {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  margin-top: 0px;
  margin-bottom: 30px;
  padding: 200px 40px 100px 40px;
}
.elementor-958
  .elementor-element.elementor-element-6da50d0
  > .elementor-element-populated {
  margin: 100px 0px 0px 0px;
  --e-column-margin-right: 0px;
  --e-column-margin-left: 0px;
}
.elementor-958
  .elementor-element.elementor-element-5a9666c
  .elementor-heading-title {
  color: #ebcd88;
  font-family: "DM Sans", DM Sans;
}
.elementor-958
  .elementor-element.elementor-element-5e9c54d
  .elementskit-section-title-wraper
  .elementskit-section-title {
  color: #ffffff;
  font-family: "DM Sans", DM Sans;
}
.elementor-958
  .elementor-element.elementor-element-5e9c54d
  .elementskit-section-title-wraper
  .elementskit-section-title
  > span {
  color: #ebcd88;
  text-decoration-color: #ebcd88;
}
.elementor-958
  .elementor-element.elementor-element-5e9c54d
  .elementskit-section-title-wraper
  .elementskit-section-title:hover
  > span {
  color: #000000;
}
.elementor-958
  .elementor-element.elementor-element-5e9c54d
  .elementskit-section-title-wraper
  .elementskit-section-title
  span:last-child {
  text-decoration-color: #ebcd88;
}
.elementor-958
  .elementor-element.elementor-element-cf7dfd5
  .elementor-heading-title {
  color: #a1a1a1;
  font-family: "DM Sans", DM Sans;
}
.elementor-958
  .elementor-element.elementor-element-cf7dfd5
  > .elementor-widget-container {
  margin: 0px 0px 20px 0px;
}
.elementor-958 .elementor-element.elementor-element-4f86775 .ekit-btn-wraper {
  text-align: left;
}
.elementor-958 .elementor-element.elementor-element-4f86775 .elementskit-btn {
  padding: 18px 18px 18px 18px;
  font-family: "DM Sans", DM Sans;
  font-weight: 600;
  color: #000000;
  background-color: #ebcd88;
  border-style: solid;
  border-width: 2px 2px 2px 2px;
  border-color: #ebcd88;
  border-radius: 4px 4px 4px 4px;
}
.elementor-958
  .elementor-element.elementor-element-4f86775
  .elementskit-btn
  svg
  path {
  stroke: #000000;
  fill: #000000;
}
.elementor-958
  .elementor-element.elementor-element-4f86775
  .elementskit-btn:hover {
  color: #ffffff;
  background-color: #02010100;
  border-radius: 7px 7px 7px 7px;
}
.elementor-958
  .elementor-element.elementor-element-4f86775
  .elementskit-btn:hover
  svg
  path {
  stroke: #ffffff;
  fill: #ffffff;
}
.elementor-958
  .elementor-element.elementor-element-4f86775
  .elementskit-btn
  > i,
.elementor-958
  .elementor-element.elementor-element-4f86775
  .elementskit-btn
  > svg {
  margin-left: 5px;
}
.rtl
  .elementor-958
  .elementor-element.elementor-element-4f86775
  .elementskit-btn
  > i,
.rtl
  .elementor-958
  .elementor-element.elementor-element-4f86775
  .elementskit-btn
  > svg {
  margin-left: 0;
  margin-right: 5px;
}
.elementor-958
  .elementor-element.elementor-element-1b30b6f:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-958
  .elementor-element.elementor-element-1b30b6f
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #181818;
}
.elementor-958 .elementor-element.elementor-element-1b30b6f {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  margin-top: 0px;
  margin-bottom: 30px;
  padding: 100px 0px 100px 0px;
}
.elementor-958
  .elementor-element.elementor-element-1b30b6f
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-958
  .elementor-element.elementor-element-2ed9fe6:not(
    .elementor-motion-effects-element-type-background
  )
  > .elementor-widget-wrap,
.elementor-958
  .elementor-element.elementor-element-2ed9fe6
  > .elementor-widget-wrap
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-image: url("../../../uploads/2021/12/WhatsApp-Image-2021-12-20-at-11.26.15-AM.jpeg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.elementor-958
  .elementor-element.elementor-element-2ed9fe6
  > .elementor-element-populated {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}
.elementor-958
  .elementor-element.elementor-element-2ed9fe6
  > .elementor-element-populated
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-958
  .elementor-element.elementor-element-e27e785
  .elementskit-section-title-wraper
  .elementskit-section-title {
  color: #ffffff;
  font-family: "DM Sans", DM Sans;
  font-size: 40px;
}
.elementor-958
  .elementor-element.elementor-element-e27e785
  .elementskit-section-title-wraper
  .elementskit-section-title
  > span {
  color: #ebcd88;
  text-decoration-color: #ebcd88;
}
.elementor-958
  .elementor-element.elementor-element-e27e785
  .elementskit-section-title-wraper
  .elementskit-section-title:hover
  > span {
  color: #000000;
}
.elementor-958
  .elementor-element.elementor-element-e27e785
  .elementskit-section-title-wraper
  .elementskit-section-title
  span:last-child {
  text-decoration-color: #ebcd88;
}
.elementor-958 .elementor-element.elementor-element-9087a2e {
  margin-top: 0px;
  margin-bottom: 10px;
}
.elementor-bc-flex-widget
  .elementor-958
  .elementor-element.elementor-element-9b6c308.elementor-column
  .elementor-widget-wrap {
  align-items: center;
}
.elementor-958
  .elementor-element.elementor-element-9b6c308.elementor-column.elementor-element[data-element_type="column"]
  > .elementor-widget-wrap.elementor-element-populated {
  align-content: center;
  align-items: center;
}
.elementor-958 .elementor-element.elementor-element-437de17 {
  text-align: right;
}
.elementor-958
  .elementor-element.elementor-element-437de17
  .elementor-heading-title {
  color: #ffffff;
  font-family: "DM Sans", DM Sans;
}
.elementor-bc-flex-widget
  .elementor-958
  .elementor-element.elementor-element-90f6853.elementor-column
  .elementor-widget-wrap {
  align-items: center;
}
.elementor-958
  .elementor-element.elementor-element-90f6853.elementor-column.elementor-element[data-element_type="column"]
  > .elementor-widget-wrap.elementor-element-populated {
  align-content: center;
  align-items: center;
}
.elementor-958 .elementor-element.elementor-element-dc99581 img {
  width: 50%;
  border-radius: 100px 100px 100px 100px;
}
.elementor-958
  .elementor-element.elementor-element-919d353
  > .elementor-element-populated {
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: #ebcd88;
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  margin: 0px 0px 0px 15px;
  --e-column-margin-right: 0px;
  --e-column-margin-left: 15px;
  padding: 30px 35px 30px 35px;
}
.elementor-958
  .elementor-element.elementor-element-919d353:hover
  > .elementor-element-populated {
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: #7611f7;
}
.elementor-958
  .elementor-element.elementor-element-919d353
  > .elementor-element-populated
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-958 .elementor-element.elementor-element-ab9615a {
  text-align: left;
}
.elementor-958
  .elementor-element.elementor-element-ab9615a
  .elementor-heading-title {
  color: #ffffff;
  font-family: "DM Sans", DM Sans;
}
.elementor-958 .elementor-element.elementor-element-2505207 {
  text-align: left;
  color: #bcbcbc;
  font-family: "DM Sans", DM Sans;
  font-size: 16px;
}
.elementor-958 .elementor-element.elementor-element-e518565 {
  margin-top: 0px;
  margin-bottom: 10px;
}
.elementor-bc-flex-widget
  .elementor-958
  .elementor-element.elementor-element-3d4eb20.elementor-column
  .elementor-widget-wrap {
  align-items: center;
}
.elementor-958
  .elementor-element.elementor-element-3d4eb20.elementor-column.elementor-element[data-element_type="column"]
  > .elementor-widget-wrap.elementor-element-populated {
  align-content: center;
  align-items: center;
}
.elementor-958 .elementor-element.elementor-element-28397de {
  text-align: right;
}
.elementor-958
  .elementor-element.elementor-element-28397de
  .elementor-heading-title {
  color: #ffffff;
  font-family: "DM Sans", DM Sans;
}
.elementor-bc-flex-widget
  .elementor-958
  .elementor-element.elementor-element-60f7b6e.elementor-column
  .elementor-widget-wrap {
  align-items: center;
}
.elementor-958
  .elementor-element.elementor-element-60f7b6e.elementor-column.elementor-element[data-element_type="column"]
  > .elementor-widget-wrap.elementor-element-populated {
  align-content: center;
  align-items: center;
}
.elementor-958 .elementor-element.elementor-element-1af542a img {
  width: 50%;
  border-radius: 100px 100px 100px 100px;
}
.elementor-958
  .elementor-element.elementor-element-d5aded5
  > .elementor-element-populated {
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: #ebcd88;
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  margin: 0px 0px 0px 15px;
  --e-column-margin-right: 0px;
  --e-column-margin-left: 15px;
  padding: 30px 35px 30px 35px;
}
.elementor-958
  .elementor-element.elementor-element-d5aded5:hover
  > .elementor-element-populated {
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: #7611f7;
}
.elementor-958
  .elementor-element.elementor-element-d5aded5
  > .elementor-element-populated
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-958 .elementor-element.elementor-element-8cfc248 {
  text-align: left;
}
.elementor-958
  .elementor-element.elementor-element-8cfc248
  .elementor-heading-title {
  color: #ffffff;
  font-family: "DM Sans", DM Sans;
}
.elementor-958 .elementor-element.elementor-element-bac1bdc {
  text-align: left;
  color: #bcbcbc;
  font-family: "DM Sans", DM Sans;
  font-size: 16px;
}
.elementor-958 .elementor-element.elementor-element-6792ec6 {
  margin-top: 0px;
  margin-bottom: 10px;
}
.elementor-bc-flex-widget
  .elementor-958
  .elementor-element.elementor-element-29e1614.elementor-column
  .elementor-widget-wrap {
  align-items: center;
}
.elementor-958
  .elementor-element.elementor-element-29e1614.elementor-column.elementor-element[data-element_type="column"]
  > .elementor-widget-wrap.elementor-element-populated {
  align-content: center;
  align-items: center;
}
.elementor-958 .elementor-element.elementor-element-ec9df14 {
  text-align: right;
}
.elementor-958
  .elementor-element.elementor-element-ec9df14
  .elementor-heading-title {
  color: #ffffff;
  font-family: "DM Sans", DM Sans;
}
.elementor-bc-flex-widget
  .elementor-958
  .elementor-element.elementor-element-16ed63a.elementor-column
  .elementor-widget-wrap {
  align-items: center;
}
.elementor-958
  .elementor-element.elementor-element-16ed63a.elementor-column.elementor-element[data-element_type="column"]
  > .elementor-widget-wrap.elementor-element-populated {
  align-content: center;
  align-items: center;
}
.elementor-958 .elementor-element.elementor-element-f5cabe1 img {
  width: 50%;
  border-radius: 100px 100px 100px 100px;
}
.elementor-958
  .elementor-element.elementor-element-a3c3fe8
  > .elementor-element-populated {
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: #ebcd88;
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  margin: 0px 0px 0px 15px;
  --e-column-margin-right: 0px;
  --e-column-margin-left: 15px;
  padding: 30px 35px 30px 35px;
}
.elementor-958
  .elementor-element.elementor-element-a3c3fe8:hover
  > .elementor-element-populated {
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: #7611f7;
}
.elementor-958
  .elementor-element.elementor-element-a3c3fe8
  > .elementor-element-populated
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-958 .elementor-element.elementor-element-93f37b8 {
  text-align: left;
}
.elementor-958
  .elementor-element.elementor-element-93f37b8
  .elementor-heading-title {
  color: #ffffff;
  font-family: "DM Sans", DM Sans;
}
.elementor-958 .elementor-element.elementor-element-72c2cdc {
  text-align: left;
  color: #bcbcbc;
  font-family: "DM Sans", DM Sans;
  font-size: 16px;
}
.elementor-958 .elementor-element.elementor-element-3967231 {
  margin-top: 0px;
  margin-bottom: 10px;
}
.elementor-bc-flex-widget
  .elementor-958
  .elementor-element.elementor-element-249db3b.elementor-column
  .elementor-widget-wrap {
  align-items: center;
}
.elementor-958
  .elementor-element.elementor-element-249db3b.elementor-column.elementor-element[data-element_type="column"]
  > .elementor-widget-wrap.elementor-element-populated {
  align-content: center;
  align-items: center;
}
.elementor-958 .elementor-element.elementor-element-dc8d658 {
  text-align: right;
}
.elementor-958
  .elementor-element.elementor-element-dc8d658
  .elementor-heading-title {
  color: #ffffff;
  font-family: "DM Sans", DM Sans;
}
.elementor-bc-flex-widget
  .elementor-958
  .elementor-element.elementor-element-2c1e29a.elementor-column
  .elementor-widget-wrap {
  align-items: center;
}
.elementor-958
  .elementor-element.elementor-element-2c1e29a.elementor-column.elementor-element[data-element_type="column"]
  > .elementor-widget-wrap.elementor-element-populated {
  align-content: center;
  align-items: center;
}
.elementor-958 .elementor-element.elementor-element-6f00d33 img {
  width: 50%;
  border-radius: 100px 100px 100px 100px;
}
.elementor-958
  .elementor-element.elementor-element-f9bc257
  > .elementor-element-populated {
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: #ebcd88;
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  margin: 0px 0px 0px 15px;
  --e-column-margin-right: 0px;
  --e-column-margin-left: 15px;
  padding: 30px 35px 30px 35px;
}
.elementor-958
  .elementor-element.elementor-element-f9bc257:hover
  > .elementor-element-populated {
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: #7611f7;
}
.elementor-958
  .elementor-element.elementor-element-f9bc257
  > .elementor-element-populated
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-958 .elementor-element.elementor-element-8e79ea3 {
  text-align: left;
}
.elementor-958
  .elementor-element.elementor-element-8e79ea3
  .elementor-heading-title {
  color: #ffffff;
  font-family: "DM Sans", DM Sans;
}
.elementor-958 .elementor-element.elementor-element-95e041c {
  text-align: left;
  color: #bcbcbc;
  font-family: "DM Sans", DM Sans;
  font-size: 16px;
}
.elementor-958 .elementor-element.elementor-element-fcaf510 {
  margin-top: 20px;
  margin-bottom: 20px;
}
.elementor-958
  .elementor-element.elementor-element-6b3734b
  > .elementor-element-populated {
  padding: 60px 60px 60px 60px;
}
.elementor-958
  .elementor-element.elementor-element-ba0e8de
  .elementskit-section-title-wraper
  .elementskit-section-title {
  color: #ffffff;
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  font-family: "DM Sans", DM Sans;
  font-size: 40px;
}
.elementor-958
  .elementor-element.elementor-element-ba0e8de
  .elementskit-section-title-wraper
  .elementskit-section-title
  > span {
  color: #ebcd88;
  text-decoration-color: #7611f7;
}
.elementor-958
  .elementor-element.elementor-element-ba0e8de
  .elementskit-section-title-wraper
  .elementskit-section-title:hover
  > span {
  color: #000000;
}
.elementor-958
  .elementor-element.elementor-element-ba0e8de
  .elementskit-section-title-wraper
  .elementskit-section-title
  span:last-child {
  text-decoration-color: #7611f7;
}
.elementor-958
  .elementor-element.elementor-element-6f8e51b:not(
    .elementor-motion-effects-element-type-background
  )
  > .elementor-widget-wrap,
.elementor-958
  .elementor-element.elementor-element-6f8e51b
  > .elementor-widget-wrap
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-image: url("../../../uploads/2022/02/e7fc1062388533.5a8ea39fe9bf3.gif");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.elementor-958
  .elementor-element.elementor-element-6f8e51b
  > .elementor-element-populated {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}
.elementor-958
  .elementor-element.elementor-element-6f8e51b
  > .elementor-element-populated
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-958
  .elementor-element.elementor-element-3dbd188:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-958
  .elementor-element.elementor-element-3dbd188
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #181818;
}
.elementor-958 .elementor-element.elementor-element-3dbd188 {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  margin-top: 0px;
  margin-bottom: 0px;
}
.elementor-958
  .elementor-element.elementor-element-3dbd188
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-958 .elementor-element.elementor-element-a0d7bb0 {
  text-align: center;
}
.elementor-958
  .elementor-element.elementor-element-a0d7bb0
  .elementor-heading-title {
  color: #ebcd88;
  font-family: "DM Sans", DM Sans;
}
.elementor-958
  .elementor-element.elementor-element-1d96a61
  .elementskit-section-title-wraper
  .elementskit-section-title {
  color: #ffffff;
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  font-family: "DM Sans", DM Sans;
  font-size: 40px;
}
.elementor-958
  .elementor-element.elementor-element-1d96a61
  .elementskit-section-title-wraper
  .elementskit-section-title
  > span {
  color: #ebcd88;
  text-decoration-color: #7611f7;
}
.elementor-958
  .elementor-element.elementor-element-1d96a61
  .elementskit-section-title-wraper
  .elementskit-section-title:hover
  > span {
  color: #000000;
}
.elementor-958
  .elementor-element.elementor-element-1d96a61
  .elementskit-section-title-wraper
  .elementskit-section-title
  span:last-child {
  text-decoration-color: #7611f7;
}
.elementor-958
  .elementor-element.elementor-element-9d1d090
  > .elementor-element-populated {
  margin: 0px 0px 0px 0px;
  --e-column-margin-right: 0px;
  --e-column-margin-left: 0px;
  padding: 60px 40px 20px 40px;
}
.elementor-958
  .elementor-element.elementor-element-34c99ea.elementor-position-right
  .elementor-image-box-img {
  margin-left: 15px;
}
.elementor-958
  .elementor-element.elementor-element-34c99ea.elementor-position-left
  .elementor-image-box-img {
  margin-right: 15px;
}
.elementor-958
  .elementor-element.elementor-element-34c99ea.elementor-position-top
  .elementor-image-box-img {
  margin-bottom: 15px;
}
.elementor-958
  .elementor-element.elementor-element-34c99ea
  .elementor-image-box-wrapper
  .elementor-image-box-img {
  width: 17%;
}
.elementor-958
  .elementor-element.elementor-element-34c99ea
  .elementor-image-box-img
  img {
  border-radius: 30px;
  transition-duration: 0.3s;
}
.elementor-958
  .elementor-element.elementor-element-34c99ea
  .elementor-image-box-title {
  margin-bottom: 12px;
  color: #ffffff;
  font-family: "DM Sans", DM Sans;
  font-size: 14px;
}
.elementor-958
  .elementor-element.elementor-element-34c99ea
  > .elementor-widget-container {
  margin: 0px 0px 20px 0px;
}
.elementor-958
  .elementor-element.elementor-element-2296ea1.elementor-position-right
  .elementor-image-box-img {
  margin-left: 15px;
}
.elementor-958
  .elementor-element.elementor-element-2296ea1.elementor-position-left
  .elementor-image-box-img {
  margin-right: 15px;
}
.elementor-958
  .elementor-element.elementor-element-2296ea1.elementor-position-top
  .elementor-image-box-img {
  margin-bottom: 15px;
}
.elementor-958
  .elementor-element.elementor-element-2296ea1
  .elementor-image-box-wrapper
  .elementor-image-box-img {
  width: 17%;
}
.elementor-958
  .elementor-element.elementor-element-2296ea1
  .elementor-image-box-img
  img {
  border-radius: 30px;
  transition-duration: 0.3s;
}
.elementor-958
  .elementor-element.elementor-element-2296ea1
  .elementor-image-box-title {
  margin-bottom: 12px;
  color: #ffffff;
  font-family: "DM Sans", DM Sans;
  font-size: 14px;
}
.elementor-958
  .elementor-element.elementor-element-2296ea1
  > .elementor-widget-container {
  margin: 0px 0px 20px 0px;
}
.elementor-958
  .elementor-element.elementor-element-0cd1431.elementor-position-right
  .elementor-image-box-img {
  margin-left: 15px;
}
.elementor-958
  .elementor-element.elementor-element-0cd1431.elementor-position-left
  .elementor-image-box-img {
  margin-right: 15px;
}
.elementor-958
  .elementor-element.elementor-element-0cd1431.elementor-position-top
  .elementor-image-box-img {
  margin-bottom: 15px;
}
.elementor-958
  .elementor-element.elementor-element-0cd1431
  .elementor-image-box-wrapper
  .elementor-image-box-img {
  width: 17%;
}
.elementor-958
  .elementor-element.elementor-element-0cd1431
  .elementor-image-box-img
  img {
  border-radius: 30px;
  transition-duration: 0.3s;
}
.elementor-958
  .elementor-element.elementor-element-0cd1431
  .elementor-image-box-title {
  margin-bottom: 12px;
  color: #ffffff;
  font-family: "DM Sans", DM Sans;
  font-size: 14px;
}
.elementor-958
  .elementor-element.elementor-element-cb2b710
  > .elementor-element-populated {
  margin: 0px 0px 0px 0px;
  --e-column-margin-right: 0px;
  --e-column-margin-left: 0px;
  padding: 60px 40px 20px 40px;
}
.elementor-958
  .elementor-element.elementor-element-12218b5.elementor-position-right
  .elementor-image-box-img {
  margin-left: 15px;
}
.elementor-958
  .elementor-element.elementor-element-12218b5.elementor-position-left
  .elementor-image-box-img {
  margin-right: 15px;
}
.elementor-958
  .elementor-element.elementor-element-12218b5.elementor-position-top
  .elementor-image-box-img {
  margin-bottom: 15px;
}
.elementor-958
  .elementor-element.elementor-element-12218b5
  .elementor-image-box-wrapper
  .elementor-image-box-img {
  width: 17%;
}
.elementor-958
  .elementor-element.elementor-element-12218b5
  .elementor-image-box-img
  img {
  border-radius: 30px;
  transition-duration: 0.3s;
}
.elementor-958
  .elementor-element.elementor-element-12218b5
  .elementor-image-box-title {
  margin-bottom: 12px;
  color: #ffffff;
  font-family: "DM Sans", DM Sans;
  font-size: 14px;
}
.elementor-958
  .elementor-element.elementor-element-12218b5
  > .elementor-widget-container {
  margin: 0px 0px 20px 0px;
}
.elementor-958
  .elementor-element.elementor-element-8c06e6a.elementor-position-right
  .elementor-image-box-img {
  margin-left: 15px;
}
.elementor-958
  .elementor-element.elementor-element-8c06e6a.elementor-position-left
  .elementor-image-box-img {
  margin-right: 15px;
}
.elementor-958
  .elementor-element.elementor-element-8c06e6a.elementor-position-top
  .elementor-image-box-img {
  margin-bottom: 15px;
}
.elementor-958
  .elementor-element.elementor-element-8c06e6a
  .elementor-image-box-wrapper
  .elementor-image-box-img {
  width: 17%;
}
.elementor-958
  .elementor-element.elementor-element-8c06e6a
  .elementor-image-box-img
  img {
  border-radius: 30px;
  transition-duration: 0.3s;
}
.elementor-958
  .elementor-element.elementor-element-8c06e6a
  .elementor-image-box-title {
  margin-bottom: 12px;
  color: #ffffff;
  font-family: "DM Sans", DM Sans;
  font-size: 14px;
}
.elementor-958
  .elementor-element.elementor-element-8c06e6a
  > .elementor-widget-container {
  margin: 0px 0px 20px 0px;
}
.elementor-958
  .elementor-element.elementor-element-51f08f9.elementor-position-right
  .elementor-image-box-img {
  margin-left: 15px;
}
.elementor-958
  .elementor-element.elementor-element-51f08f9.elementor-position-left
  .elementor-image-box-img {
  margin-right: 15px;
}
.elementor-958
  .elementor-element.elementor-element-51f08f9.elementor-position-top
  .elementor-image-box-img {
  margin-bottom: 15px;
}
.elementor-958
  .elementor-element.elementor-element-51f08f9
  .elementor-image-box-wrapper
  .elementor-image-box-img {
  width: 17%;
}
.elementor-958
  .elementor-element.elementor-element-51f08f9
  .elementor-image-box-img
  img {
  border-radius: 30px;
  transition-duration: 0.3s;
}
.elementor-958
  .elementor-element.elementor-element-51f08f9
  .elementor-image-box-title {
  margin-bottom: 12px;
  color: #ffffff;
  font-family: "DM Sans", DM Sans;
  font-size: 14px;
}
.elementor-958
  .elementor-element.elementor-element-a22768b:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-958
  .elementor-element.elementor-element-a22768b
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #000000;
}
.elementor-958
  .elementor-element.elementor-element-a22768b
  > .elementor-background-overlay {
  opacity: 0.5;
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-958 .elementor-element.elementor-element-a22768b {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  margin-top: 0px;
  margin-bottom: 70px;
  padding: 104px 40px 104px 40px;
}
.elementor-958 .elementor-element.elementor-element-2ea73c4 {
  text-align: center;
}
.elementor-958
  .elementor-element.elementor-element-2ea73c4
  .elementor-heading-title {
  color: #ebcd88;
  font-family: "DM Sans", DM Sans;
}
.elementor-958
  .elementor-element.elementor-element-7f48cef
  .elementskit-section-title-wraper
  .elementskit-section-title {
  color: #ffffff;
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  font-family: "DM Sans", DM Sans;
  font-size: 40px;
}
.elementor-958
  .elementor-element.elementor-element-7f48cef
  .elementskit-section-title-wraper
  .elementskit-section-title
  > span {
  color: #ebcd88;
  text-decoration-color: #7611f7;
}
.elementor-958
  .elementor-element.elementor-element-7f48cef
  .elementskit-section-title-wraper
  .elementskit-section-title:hover
  > span {
  color: #000000;
}
.elementor-958
  .elementor-element.elementor-element-7f48cef
  .elementskit-section-title-wraper
  .elementskit-section-title
  span:last-child {
  text-decoration-color: #7611f7;
}
.elementor-958 .elementor-element.elementor-element-8504238 {
  border-style: solid;
  border-width: 1px 0px 0px 1px;
  border-color: var(--e-global-color-astglobalcolor5);
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  margin-top: 24px;
  margin-bottom: 0px;
}
.elementor-958
  .elementor-element.elementor-element-8504238
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-958
  .elementor-element.elementor-element-4265383
  > .elementor-element-populated {
  border-style: solid;
  border-width: 0px 1px 1px 0px;
  border-color: var(--e-global-color-astglobalcolor5);
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 24px 24px 24px 24px;
}
.elementor-958
  .elementor-element.elementor-element-4265383:hover
  > .elementor-element-populated {
  box-shadow: 0px 24px 64px -16px rgba(0, 0, 0, 0.24);
}
.elementor-958
  .elementor-element.elementor-element-4265383
  > .elementor-element-populated
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-958 .elementor-element.elementor-element-43c1840 img {
  width: 62%;
}
.elementor-958
  .elementor-element.elementor-element-ae1dfce
  > .elementor-element-populated {
  border-style: solid;
  border-width: 0px 1px 1px 0px;
  border-color: var(--e-global-color-astglobalcolor5);
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 24px 24px 24px 24px;
}
.elementor-958
  .elementor-element.elementor-element-ae1dfce:hover
  > .elementor-element-populated {
  box-shadow: 0px 24px 64px -16px rgba(0, 0, 0, 0.24);
}
.elementor-958
  .elementor-element.elementor-element-ae1dfce
  > .elementor-element-populated
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-958 .elementor-element.elementor-element-fabaa02 img {
  width: 62%;
}
.elementor-958
  .elementor-element.elementor-element-9b57f8b
  > .elementor-element-populated {
  border-style: solid;
  border-width: 0px 1px 1px 0px;
  border-color: var(--e-global-color-astglobalcolor5);
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 24px 24px 24px 24px;
}
.elementor-958
  .elementor-element.elementor-element-9b57f8b:hover
  > .elementor-element-populated {
  box-shadow: 0px 24px 64px -16px rgba(0, 0, 0, 0.24);
}
.elementor-958
  .elementor-element.elementor-element-9b57f8b
  > .elementor-element-populated
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-958 .elementor-element.elementor-element-69d50b6 img {
  width: 100%;
}
.elementor-958
  .elementor-element.elementor-element-fa9b548
  > .elementor-element-populated {
  border-style: solid;
  border-width: 0px 1px 1px 0px;
  border-color: var(--e-global-color-astglobalcolor5);
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 24px 24px 24px 24px;
}
.elementor-958
  .elementor-element.elementor-element-fa9b548:hover
  > .elementor-element-populated {
  box-shadow: 0px 24px 64px -16px rgba(0, 0, 0, 0.24);
}
.elementor-958
  .elementor-element.elementor-element-fa9b548
  > .elementor-element-populated
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-958 .elementor-element.elementor-element-bcb5e06 img {
  width: 62%;
}
.elementor-958 .elementor-element.elementor-element-b0c7a74 {
  border-style: solid;
  border-width: 0px 0px 0px 1px;
  border-color: var(--e-global-color-astglobalcolor5);
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  margin-top: 0px;
  margin-bottom: 0px;
}
.elementor-958
  .elementor-element.elementor-element-b0c7a74
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-958
  .elementor-element.elementor-element-b9ed6b0
  > .elementor-element-populated {
  border-style: solid;
  border-width: 0px 1px 1px 0px;
  border-color: var(--e-global-color-astglobalcolor5);
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 24px 24px 24px 24px;
}
.elementor-958
  .elementor-element.elementor-element-b9ed6b0:hover
  > .elementor-element-populated {
  box-shadow: 0px 24px 64px -16px rgba(0, 0, 0, 0.24);
}
.elementor-958
  .elementor-element.elementor-element-b9ed6b0
  > .elementor-element-populated
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-958
  .elementor-element.elementor-element-f2fb3bf
  > .elementor-element-populated {
  border-style: solid;
  border-width: 0px 1px 1px 0px;
  border-color: var(--e-global-color-astglobalcolor5);
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 24px 24px 24px 24px;
}
.elementor-958
  .elementor-element.elementor-element-f2fb3bf:hover
  > .elementor-element-populated {
  box-shadow: 0px 24px 64px -16px rgba(0, 0, 0, 0.24);
}
.elementor-958
  .elementor-element.elementor-element-f2fb3bf
  > .elementor-element-populated
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-958
  .elementor-element.elementor-element-9966fb5
  > .elementor-element-populated {
  border-style: solid;
  border-width: 0px 1px 1px 0px;
  border-color: var(--e-global-color-astglobalcolor5);
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 24px 24px 24px 24px;
}
.elementor-958
  .elementor-element.elementor-element-9966fb5:hover
  > .elementor-element-populated {
  box-shadow: 0px 24px 64px -16px rgba(0, 0, 0, 0.24);
}
.elementor-958
  .elementor-element.elementor-element-9966fb5
  > .elementor-element-populated
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-958
  .elementor-element.elementor-element-2366596
  > .elementor-element-populated {
  border-style: solid;
  border-width: 0px 1px 1px 0px;
  border-color: var(--e-global-color-astglobalcolor5);
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 24px 24px 24px 24px;
}
.elementor-958
  .elementor-element.elementor-element-2366596:hover
  > .elementor-element-populated {
  box-shadow: 0px 24px 64px -16px rgba(0, 0, 0, 0.24);
}
.elementor-958
  .elementor-element.elementor-element-2366596
  > .elementor-element-populated
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-958
  .elementor-element.elementor-element-3dc7146:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-958
  .elementor-element.elementor-element-3dc7146
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-image: url("../../../uploads/2022/02/Hero-overlay-2.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.elementor-958 .elementor-element.elementor-element-3dc7146 {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 100px 0px 100px 0px;
}
.elementor-958
  .elementor-element.elementor-element-3dc7146
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-958
  .elementor-element.elementor-element-a93bd20
  .elementskit-section-title-wraper
  .elementskit-section-title {
  color: #ffffff;
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  font-family: "DM Sans", DM Sans;
  font-size: 40px;
}
.elementor-958
  .elementor-element.elementor-element-a93bd20
  .elementskit-section-title-wraper
  .elementskit-section-title
  > span {
  color: #ebcd88;
  text-decoration-color: #7611f7;
}
.elementor-958
  .elementor-element.elementor-element-a93bd20
  .elementskit-section-title-wraper
  .elementskit-section-title:hover
  > span {
  color: #000000;
}
.elementor-958
  .elementor-element.elementor-element-a93bd20
  .elementskit-section-title-wraper
  .elementskit-section-title
  span:last-child {
  text-decoration-color: #7611f7;
}
.elementor-958 .elementor-element.elementor-element-2e0f5ba .ekit-btn-wraper {
  text-align: center;
}
.elementor-958 .elementor-element.elementor-element-2e0f5ba .elementskit-btn {
  padding: 18px 18px 18px 18px;
  font-family: "DM Sans", DM Sans;
  font-weight: 600;
  color: #000000;
  background-color: #ebcd88;
  border-style: solid;
  border-width: 2px 2px 2px 2px;
  border-color: #ebcd88;
  border-radius: 4px 4px 4px 4px;
}
.elementor-958
  .elementor-element.elementor-element-2e0f5ba
  .elementskit-btn
  svg
  path {
  stroke: #000000;
  fill: #000000;
}
.elementor-958
  .elementor-element.elementor-element-2e0f5ba
  .elementskit-btn:hover {
  color: #ffffff;
  background-color: #02010100;
  border-radius: 7px 7px 7px 7px;
}
.elementor-958
  .elementor-element.elementor-element-2e0f5ba
  .elementskit-btn:hover
  svg
  path {
  stroke: #ffffff;
  fill: #ffffff;
}
.elementor-958
  .elementor-element.elementor-element-2e0f5ba
  .elementskit-btn
  > i,
.elementor-958
  .elementor-element.elementor-element-2e0f5ba
  .elementskit-btn
  > svg {
  margin-left: 5px;
}
.rtl
  .elementor-958
  .elementor-element.elementor-element-2e0f5ba
  .elementskit-btn
  > i,
.rtl
  .elementor-958
  .elementor-element.elementor-element-2e0f5ba
  .elementskit-btn
  > svg {
  margin-left: 0;
  margin-right: 5px;
}
@media (max-width: 1024px) {
  .elementor-958 .elementor-element.elementor-element-ef5dcef {
    padding: 128px 40px 64px 40px;
  }
  .elementor-958 .elementor-element.elementor-element-1b30b6f {
    padding: 80px 40px 80px 40px;
  }
  .elementor-958 .elementor-element.elementor-element-a22768b {
    padding: 80px 40px 80px 40px;
  }
  .elementor-958
    .elementor-element.elementor-element-4265383
    > .elementor-element-populated {
    padding: 16px 16px 16px 16px;
  }
  .elementor-958
    .elementor-element.elementor-element-ae1dfce
    > .elementor-element-populated {
    padding: 16px 16px 16px 16px;
  }
  .elementor-958
    .elementor-element.elementor-element-9b57f8b
    > .elementor-element-populated {
    padding: 16px 16px 16px 16px;
  }
  .elementor-958
    .elementor-element.elementor-element-fa9b548
    > .elementor-element-populated {
    padding: 16px 16px 16px 16px;
  }
  .elementor-958
    .elementor-element.elementor-element-b9ed6b0
    > .elementor-element-populated {
    padding: 16px 16px 16px 16px;
  }
  .elementor-958
    .elementor-element.elementor-element-f2fb3bf
    > .elementor-element-populated {
    padding: 16px 16px 16px 16px;
  }
  .elementor-958
    .elementor-element.elementor-element-9966fb5
    > .elementor-element-populated {
    padding: 16px 16px 16px 16px;
  }
  .elementor-958
    .elementor-element.elementor-element-2366596
    > .elementor-element-populated {
    padding: 16px 16px 16px 16px;
  }
}
@media (max-width: 767px) {
  .elementor-958 .elementor-element.elementor-element-ef5dcef {
    padding: 128px 24px 78px 24px;
  }
  .elementor-958 .elementor-element.elementor-element-1b30b6f {
    padding: 64px 24px 64px 24px;
  }
  .elementor-958
    .elementor-element.elementor-element-34c99ea
    .elementor-image-box-img {
    margin-bottom: 15px;
  }
  .elementor-958
    .elementor-element.elementor-element-2296ea1
    .elementor-image-box-img {
    margin-bottom: 15px;
  }
  .elementor-958
    .elementor-element.elementor-element-0cd1431
    .elementor-image-box-img {
    margin-bottom: 15px;
  }
  .elementor-958
    .elementor-element.elementor-element-12218b5
    .elementor-image-box-img {
    margin-bottom: 15px;
  }
  .elementor-958
    .elementor-element.elementor-element-8c06e6a
    .elementor-image-box-img {
    margin-bottom: 15px;
  }
  .elementor-958
    .elementor-element.elementor-element-51f08f9
    .elementor-image-box-img {
    margin-bottom: 15px;
  }
  .elementor-958 .elementor-element.elementor-element-a22768b {
    padding: 64px 24px 64px 24px;
  }
  .elementor-958 .elementor-element.elementor-element-4265383 {
    width: 50%;
  }
  .elementor-958 .elementor-element.elementor-element-ae1dfce {
    width: 50%;
  }
  .elementor-958 .elementor-element.elementor-element-9b57f8b {
    width: 50%;
  }
  .elementor-958 .elementor-element.elementor-element-fa9b548 {
    width: 50%;
  }
  .elementor-958 .elementor-element.elementor-element-b9ed6b0 {
    width: 50%;
  }
  .elementor-958 .elementor-element.elementor-element-f2fb3bf {
    width: 50%;
  }
  .elementor-958 .elementor-element.elementor-element-9966fb5 {
    width: 50%;
  }
  .elementor-958 .elementor-element.elementor-element-2366596 {
    width: 50%;
  }
}
@media (min-width: 768px) {
  .elementor-958 .elementor-element.elementor-element-6da50d0 {
    width: 53.659%;
  }
  .elementor-958 .elementor-element.elementor-element-8d41f00 {
    width: 46.241%;
  }
  .elementor-958 .elementor-element.elementor-element-2ed9fe6 {
    width: 51.829%;
  }
  .elementor-958 .elementor-element.elementor-element-e5723db {
    width: 48.071%;
  }
  .elementor-958 .elementor-element.elementor-element-9b6c308 {
    width: 23.412%;
  }
  .elementor-958 .elementor-element.elementor-element-90f6853 {
    width: 19.04%;
  }
  .elementor-958 .elementor-element.elementor-element-919d353 {
    width: 57.208%;
  }
  .elementor-958 .elementor-element.elementor-element-3d4eb20 {
    width: 23.412%;
  }
  .elementor-958 .elementor-element.elementor-element-60f7b6e {
    width: 19.04%;
  }
  .elementor-958 .elementor-element.elementor-element-d5aded5 {
    width: 57.208%;
  }
  .elementor-958 .elementor-element.elementor-element-29e1614 {
    width: 23.412%;
  }
  .elementor-958 .elementor-element.elementor-element-16ed63a {
    width: 18.614%;
  }
  .elementor-958 .elementor-element.elementor-element-a3c3fe8 {
    width: 57.634%;
  }
  .elementor-958 .elementor-element.elementor-element-249db3b {
    width: 23.412%;
  }
  .elementor-958 .elementor-element.elementor-element-2c1e29a {
    width: 19.04%;
  }
  .elementor-958 .elementor-element.elementor-element-f9bc257 {
    width: 57.208%;
  }
}
@media (min-width: 1025px) {
  .elementor-958
    .elementor-element.elementor-element-2ed9fe6:not(
      .elementor-motion-effects-element-type-background
    )
    > .elementor-widget-wrap,
  .elementor-958
    .elementor-element.elementor-element-2ed9fe6
    > .elementor-widget-wrap
    > .elementor-motion-effects-container
    > .elementor-motion-effects-layer {
    background-attachment: scroll;
  }
  .elementor-958
    .elementor-element.elementor-element-6f8e51b:not(
      .elementor-motion-effects-element-type-background
    )
    > .elementor-widget-wrap,
  .elementor-958
    .elementor-element.elementor-element-6f8e51b
    > .elementor-widget-wrap
    > .elementor-motion-effects-container
    > .elementor-motion-effects-layer {
    background-attachment: scroll;
  }
  .elementor-958
    .elementor-element.elementor-element-3dc7146:not(
      .elementor-motion-effects-element-type-background
    ),
  .elementor-958
    .elementor-element.elementor-element-3dc7146
    > .elementor-motion-effects-container
    > .elementor-motion-effects-layer {
    background-attachment: scroll;
  }
}
